{% extends 'main.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="form__group">
        <label for="schedule-flight">Chuyến bay</label>
        {% comment %} <input required type="text" value="{{flight.fromAp}}đến{{flight.toAp}}-{{flight.brand}}" name="flight_id" list="flight-list" >
        <datalist id="flight-list"> {% endcomment %}
        <select id="schedule-flight" name="flight_id">
            {% for flight in flights %}
                {% if flight.flId == schedule.flId.flId %}
                <option selected="{{flight.flId}}">{{flight.flId}} {{flight.fromAp}} đến {{flight.toAp}} - {{flight.brand}}</option>
                {% else %}
                <option value="{{flight.flId}}">{{flight.flId}} {{flight.fromAp}} đến {{flight.toAp}} - {{flight.brand}}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% comment %} </datalist> {% endcomment %}
    </div>
    <div class="form__group">
        <label for="departure_date">Ngày khởi hành</label>
        {% if page == 'update' %}
        <input type="date" name="departure_date" value="{{schedule.date|date:'Y-m-d'}}" min="">
        {% else %}
        <input type="date" name="departure_date" value="{{cur_date|date:'Y-m-d'}}" min="">
        {% endif %}
    </div>
    <div class="form__group">
        <label for="firstClass">Số lượng ghế hạng thường</label>
        {% if page == 'update' %}
        <input type="number" name="firstClass" value={{schedule.firstClass}} min=0 max=30>
        {% else %}
        <input type="number" name="firstClass" value=15 min=0 max=30>
        {% endif %}
        
    </div>
    <div class="form__group">
        <label for="secondClass">Số lượng ghế hạng thương gia</label>
        {% if page == 'update' %}
        <input type="number" name="secondClass" value={{schedule.secondClass}} min=0 max=30>
        {% else %}
        <input type="number" name="secondClass" value=15 min=0 max=30>
        {% endif %}
    </div>

    <div class="form__action">
        <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Hủy</a>
        {% if page == 'update' %}
        <button class="btn btn--main" type="submit">Cập nhật</button>
        {% else %}
        <button class="btn btn--main" type="submit">Tạo chuyến bay</button>
        {% endif %}
</form>

{% endblock content %}