<form action="{% url 'flight_list' %}" method="POST">
    {% csrf_token %}
    <h3>Cập nhật chuyến bay số hiệu {{flight.flId}}</h3>

    <label>Cập nhật sân bay đi: </label>
    <input type="text" required list="airport_list" name="fromAp" value="{{flight.fromAp.apName}}">
    <br><br>

    <label>Cập nhật sân bay đến: </label>
    <input type="text" required list="airport_list" name="toAp" value="{{flight.toAp.apName}}">

    <datalist id="airport_list">  
        {% for airport in airports %}
          <option value="{{airport.apName}}"></option>
        {% endfor %}
    </datalist>
    <br><br>

    <label for="flight_time">Thời gian bay (tối thiểu 1): </label>
    <input type="number" id="flight_time" min="1" required name="flight_time" value="{{flight.flTime}}">
    <br><br>

    <div class="form__action">
        <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Hủy</a>
        <button class="btn btn--main" type="submit" onclick="notify()">Lưu</button>
    </div>
</form>

<script>
    function notify() {
      alert("Đã cập nhật thông tin chuyến bay");
    }
</script>