
/* INDEX */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p.bold {
    font-weight: bold;
    color: blue;
    text-align:center;
    font-size: 30px;

  }

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    height: 50px;
    background-color: pink;
}

.footer p {
    margin: 0;
}

main {
    flex-grow: 1;
}

.bannerbook {
    position: relative;
    background: url('../img/banner2.jpg') no-repeat top -150px center/cover;
    transform: scaleX(-1);
    height: 300px;
}

.banner {
    position: relative;
    background: url('../img/banner.jpg') no-repeat top -150px center/cover;
    transform: scaleX(-1);
    height: 300px;
}

.navbar {
    position: absolute;
    transform: scaleX(-1);
}

.nav-item {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.nav-item.active {
    background-color: rgb(107, 107, 245);
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
}

#form-search {
    position: absolute;
    left: 50%;
    top: 60%;
    transform:  translate(-50%, -50%) scaleX(-1);
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 20px;
}

#form-update-fl {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%) scaleX(-1);
    background-color: #fff;
    padding: 25px 60px;
    border-radius: 20px;
}

.form__action{
    display: flex;
    justify-content: center;
}

#form-detail {
    position: absolute;
    width: 60%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%) scaleX(-1);
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 20px;
}

#form_fl_list {
    position: absolute;
    width: 160vh;
    height: 70vh;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%) scaleX(-1);
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 20px;
}

#cf {
    position: absolute;
    width: 60%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%) scaleX(-1);
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 20px;
}


/* MAIN  */
.banner2 {
    height: 100vh;
}


/* SEARCH  */
.table {
    margin-top: 20px;
    background-color: white;
    width: 80%;
    /* left: 15%; */
    transform:  translate(13%, 0%);
}


tr {
    text-align: center;
  }

  .headsearch{
    background-color: pink;
  }
