<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/styte.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header"> header </header>
        <main>
            <div class="contaner">
                <div class="banner">
                    <div class="navbar">
                        <a class="nav-item active" href="./test.html">Đặt vé</a>
                        <a class="nav-item" href="">Báo cáo</a>
                        <a class="nav-item" href="">Cập nhật chuyến bay</a>
                    </div>
                </div>
                <form action="" id="form-search" class="shadow">
                    <div class="row">
                        <div class="col-md-4 ml-3">
                            <div class="input-group mb-3">
                                <select class="form-select" id="loaive" name="loaive">
                                    <option selected>Loai ve</option>
                                    <option value="1">Mot chieu</option>
                                    <option value="2">Khu hoi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 ml-3">
                            <div class="input-group mb-3">
                                <select class="form-select" id="hanghe" name="hangghe">
                                    <option selected>Hang ghe</option>
                                    <option value="1">Mot</option>
                                    <option value="2">Hai</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 ml-3">
                            <div class="input-group mb-3">
                                <select class="form-select" id="soluong" name="soluong">
                                    <option selected>So Luong</option>
                                    <option value="1">Mot</option>
                                    <option value="2">Hai</option>
                                    <option value="3">Ba</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="diemdi" class="form-label">Diem di</label>
                            <input type="text" class="form-control" id="diemdi" >
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="diemden" class="form-label">Diem den</label>
                            <input type="text" class="form-control" id="diemden" >
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="ngaydi" class="form-label">Ngay di</label>
                            <input type="date" class="form-control" id="ngaydi" >
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="ngayden" class="form-label">Ngay ve</label>
                            <input type="date" class="form-control" id="ngayden" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex">
                            <button type="submit" class="btn btn-primary mx-auto">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer class="footer">
            <p>phone: 012345 3434 232</p>
            <p>email: dailyABC@gmail.com</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>